/*******************TAG SELECTORS*************************/
title {
  font-family: 'Amatic SC', cursive;
}

body {
  background-color: #faf5ef; /*#eaffd0;*/
  color: #99b19c;
  margin: 0;
  font-family: 'Kalam', cursive;  /* Verdana,Geneva,sans-serif; */
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #99b19c;
  border-width: 20px;
  width: 90%;
}

h1 {
  font-size: 562.5%;
  margin: 0;
  color: #99b19c;
}

h2 {
  color: #99b19c;
}

h3 {
  color: #99b19c;
}

a {
  color: #672f2f;
}

input {
  color: #672f2f;
}

img:hover {
  border-color: #672f2f;
  border-style: solid;
  border-width: 15px;
}

th {
  color: #672f2f;
}

div {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

span {
  display: inline-block;
}

/*******************CLASS SELECTORS************************/
.first {
  background-color: #faf5ef;
  margin-top: 90px;
  padding: 40px 30px;
}

.second {
  background-color: #d7d1c9;
  margin: 20px ;
  padding: 40px 30px;
}

.third {
  background-color: #d7d1c9;
  margin: 20px ;
  padding: 40px 30px;
}

.forth {
  background-color: #d7d1c9;
  margin: 20px ;
  /* height: 330px; */
  padding: 40px 30px;
}

.Profile-pic {
  border-radius: 50%;
  margin-right: 40px;
}

.skill-table {
  margin-right: 60px;
}

.facility {
  float: left;
  width: 100%;
  max-width: 400px;
  height: auto;
  /* position: relative;
  left: 520px;
  bottom: 270px; */
}

.TTT {
  border-style: solid;
  border-color: #672f2f;
  border-width: 3px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
