/*******************TAG SELECTORS*************************/

body {
  background-color: #eaffd0;
  color: #00a79d;
  padding-left: 50px;
  padding-right: 50px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #fce38a;
  border-width: 10px;
  width: 95%;
}
h1 {
  color: #007065;
}
h2 {
  color: #007065;
}
h3 {
  color: #007065;
}
a{
  color: #f38181;
}
input {
  color: #f38181;
}
img:hover {
  border-color: #f5c181;
  border-style: solid;
  border-width: 15px;
}

/*******************CLASS SELECTORS************************/

.Profile-pic {
  border-radius: 50%;
}
